DATABASE_URL=
QR_PASSWORD1=
QR_PASSWORD2=
QR_PASSWORD3=
QR_PASSWORD4=
QR_PASSWORD5=
CONTACT_EMAIL=bunfes@gmail.com
EMAIL_FROM=文フェススタンプラリー <postmaster@mail.bunfes.com>
MAILGUN_DOMAIN=mail.bunfes.com
MAILGUN_API_KEY=nothing